<br>
<br>
<br>
<div class="wrapper">
<div class="row-pt-5" >
    <div class="col-md-6 " >
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0" style="text-align:center ;">LOG IN </h3>
            </div>
            <br>
            <div class="card-body">
                <form (ngSubmit)="loginUser()" #userlogin="ngForm"  class="form" name="form">
                    <div class="form-group">
                        <label for="" style="margin-right:27px ; font-weight: bold;">Email</label>
                        <input [(ngModel)]="loginUserData.email" name="email" #email="ngModel" type="text"  [class.is-invalid]="email.invalid && email.touched" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required >
                        <!-- <br><small class="text-danger" [class.d-none]="email.valid || email.touched">Enter a valid email</small> -->
                        <div *ngIf="email.invalid && email.touched" class="error">Email is required</div>
                        <div *ngIf="email.errors?.['pattern']" class="error">Enter a valid email</div>
                       
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="" style="font-weight: bold;">Password</label>
                        <input [(ngModel)]="loginUserData.password" minlength="4" name="password" #password="ngModel" type="password"  required >
                        <!-- <br><small class="text-danger" [class.d-none]="password.valid || password.touched">Enter a valid password</small> -->
                        <div *ngIf="password.invalid && password.touched" class="error">Password is required</div>
                        <div *ngIf="password.errors?.['minlength']" class="error">Enter a valid password</div>
                       
                    </div>
                    <br>
                    <button (click)="loginUser()" type="button" class="btn btn-success float-right" [disabled]="userlogin.form.invalid">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>